doctype html
html(lang="ru")
    head
        meta(charset="utf-8")

        title seth97
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="Front-end by unTsar")
        meta(name="robots" content ="index, follow")

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        //- Chrome, Firefox OS and Opera
        meta(name="theme-color" content="#000")
        //- Windows Phone
        meta(name="msapplication-navbutton-color" content="#000")
        //- iOS Safari
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")


        link(rel="stylesheet", href="css/main.css")

        //- //- Favicons
        //- link(rel="icon", sizes="48x48", type="image/png", href="img/fav/ws_48x48.png")
        //- link(rel="icon", sizes="57x57", type="image/png", href="img/fav/ws_57x57.png")
        //- link(rel="icon", sizes="72x72", type="image/png", href="img/fav/ws_72x72.png")
        //- link(rel="icon", sizes="114x114", type="image/png", href="img/fav/ws_114x114.png")
        //- link(rel="icon", type="image/x-icon", href="img/fav/ws_48x48.ico")
    
    body

        block content
    
    //- Scripts
    script(src="js/common.js")


