extends _layouts/home

block content

    header.header
        .menu-button
            .button
                .elem
                .elem
                .elem
        a(href="https://www.mirkv.ru").logo
            img(src="img/logo.svg", alt="logo")
        .phone
            a.text(href="tel:+7 (812) 380-73-30") (812) #[span.b 380-73-30]
            img.phone-icon(src="img/phone.png", alt="phone.png")
    main.main
        .item
            .photos
                .main-photo
                    img.photo(src="img/item-img1.jpg", alt="item-img1.jpg")
                .others
                    img.photo(src="img/item-img2.jpg", alt="item-img2.jpg")
                    img.photo(src="img/item-img3.jpg", alt="item-img3.jpg")
            .text
                span.price 70 253 984 &#8381;
                .params
                    span.param1 220 M2
                    span.param2 2-комн. квартира
                    span.param3 12 этаж
                span.adress Лиговский проспект, д.125
            .button
                span Записаться на просмотр
            .line
        .item
            .photos
                .main-photo
                    img.photo(src="img/item-img1.jpg", alt="item-img1.jpg")
                .others
                    img.photo(src="img/item-img2.jpg", alt="item-img2.jpg")
                    img.photo(src="img/item-img3.jpg", alt="item-img3.jpg")
            .text
                span.price 70 253 984 &#8381;
                .params
                    span.param1 220 M2
                    span.param2 2-комн. квартира
                    span.param3 12 этаж
                span.adress Лиговский проспект, д.125
            .button
                span Записаться на просмотр
            .line
        .item
            .photos
                .main-photo
                    img.photo(src="img/item-img1.jpg", alt="item-img1.jpg")
                .others
                    img.photo(src="img/item-img2.jpg", alt="item-img2.jpg")
                    img.photo(src="img/item-img3.jpg", alt="item-img3.jpg")
            .text
                span.price 70 253 984 &#8381;
                .params
                    span.param1 220 M2
                    span.param2 2-комн. квартира
                    span.param3 12 этаж
                span.adress Лиговский проспект, д.125
            .button
                span Записаться на просмотр
            .line